.cbp-so-scroller {
	background:#a79887;
	overflow: hidden;
	color:#fff;
}

.cbp-so-section {
	margin-bottom: 0;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section .cbp-so-side-left h2 {
	font-size: 25px;
	font-weight: 300;
	line-height: 1;
	margin:68px 34px 19px 0;
	font-family: 'OpenSansRegular';
}

.cbp-so-section .cbp-so-side-left p {
	font-size: 16px;
	font-weight: 300;
	margin:0 34px 0 98px;
	font-family: 'OpenSansLight';
}

.cbp-so-section .cbp-so-side-right h2 {
	font-size: 25px;
	font-weight: 300;
	line-height: 1;
	margin:68px 0px 19px 34px;
	font-family: 'OpenSansRegular';
}

.cbp-so-section .cbp-so-side-right p {
	font-size: 16px;
	font-weight: 300;
	margin:0 98px 0 34px;
	font-family: 'OpenSansLight';
}


/* Sides */
.cbp-so-side {
	width: 30%;
	float: left;
	margin: 0;
	padding: 65px 27px;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
	background:url(../images/1.jpg) no-repeat 50% 50%;
	width:61%;
	height:367px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;
}

.cbp-so-side-left {
	text-align: right;
	background:url(../images/2.jpg) no-repeat 50% 50%; 
	width:39%;
	height:367px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}

