/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
/* super large screen */
@media only screen and (min-width:1646px) and (max-width: 2000px){
  .top-section{
    max-height:40%;
  }
  .section{
    height:450px;
  }
  .box-1{
    height:450px;
  }

  .box-1 img{
    margin:23% 42% 35%;
  }

  .box-2{
    height:450px;
  }

  .right h2 {
    margin:40px 0 19px 36px;
  }

.left h2 {
    margin:40px 36px 19px 0;
  }

  #progressbar{
    margin:0 41%;
  }

  .section:hover .mask {
   -webkit-transform: translateY(-420px);
   -moz-transform: translateY(-420px);
   -o-transform: translateY(-420px);
   -ms-transform: translateY(-420px);
   transform: translateY(-420px);
}
}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width:960px) and (max-width: 1024px) {
    nav{margin-left:7%;}
    .container-section{width:870px;}
    .search input[type="submit"]{padding:0;}
.search input[type="text"]{width:126px;}
.left h2{margin-top:40px;}
.right h2{margin-top:40px;}
.box-1 img{
  display:none;
}

#progressbar{
    margin:0 41%;
  }
.view-fifth img {
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}
.view-fifth .mask {
   background-color: transparent;
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}

.section:hover .mask {
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover img {
   
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
	}

	

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/*header style*/
  header {
 position: absolute;
  }

  .search{
      display:none;
  }

  #popup{
width:100%;
height:100%;
position:fixed;
background:#f9f9f9;
z-index:99999;
top:0;
left:0;
padding-top:25px;
visibility:hidden;
}

#popup:target{
  visibility:visible;
   overflow-y:auto;
}


.window{
  width:90%;
  display:block;
  margin:0 auto;
  overflow:hidden;
}

.close-button{
  
  float:right;
  
}

.window ul li a{
  color:#000;

}
.logo-menu{
  margin:0 auto;
}
.logo-menu img{
  margin-top:68px;
  margin-left:40%;
}

.search-menu{
  width:178px;
  height:25px;
  background:transparent;
  border:1px solid rgba(18,18,18,0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding-right:4px;
  margin-top:26px;
  margin-left:36%;
}

.search-menu input[type="submit"]{
  float:right;
  background:url(../images/search-menu.png) no-repeat;
  height:25px;
  width:23px;
  border:0;
  text-indent:99999px;
  padding:0;
}

.search-menu input[type="text"]{
  width:130px;
  height:24px;
  margin:0 0 0 10px;
  background:transparent;
  border:0;
  font-family:'OpenSansLight';
  color:rgba(18,18,18,0.7);
  font-size:13px;
}

.window ul{
  list-style-type: none;
  padding:0;
  text-align:center;
}

.window ul li{
  padding:20px 0;
}

.window ul li a{
  color:#f88602;
  font-size:18px;
}

/* nav */
#menu-icon {

    display:inline-block;

  }

  nav{
    float:right;
  }

  nav ul, nav:active ul { 

    display: none;
    position: absolute;
    padding: 20px;
    background: #f9f9f9;
    right: -20px;
    top: -40px;
    width: 100%;
    border-radius: none;
    border:none;

  }

  nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav li a{
    color:#f88602;
    font-size:18px;
  }

  nav:hover ul {

    display: none;

  }

  .close-button{
    display:block;
    float:right;
  }

/* top section style */
.japan-logo img{
  margin:8% 5% 8% 0;
  width:133px;
  height:255px;
}

.container-section{
  width:658px;
}

.top-section .content-top{
margin-right:0;}

.top-section{
    height:30%;
  }

  .top-section .content-top h1{
    font-size:28px;
    margin:100px 0 0 0;
  }

  .top-section .content-top h2{
    font-size:14px;
  }

  .button-view{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
}

.button-right{
  margin-right:16px;
  margin-top:18px;
}
.button-left{
  margin-left:16px;
  margin-top:18px;
}


/* section style */
      .left h2{
        font-size:20px;
        margin:13px 16px 19px 0;
      }

      .left p{
        font-size:12px;
        margin:0 16px 0 28px;
      }

      .right h2{
        font-size:20px;
        margin:13px 0 19px 16px;
        line-height:1.3;
      }

      .right p{
        font-size:12px;
        margin:0 28px 0 16px;
      }

      .right h3{
        font-size:14px;margin:0 0 0 16px;
      }

.section{
  height:260px;
}
  .box-1{
    height:260px;
    width:35%;
  }

  .box-2{
    height:260px;
    width:65%;
  }

.box-1 img{
  display:none;
}

.view-fifth img {
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}
.view-fifth .mask {
   background-color: transparent;
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}

.section:hover .mask {
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover img {
   
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*bottom style*/
.bottom{
  height:502px;
}
.bottom-container{
  width:662px;
  padding-top:30px;
}

.bottom h2{
  font-size:24px;
}

.bottom p{
  font-size:14px;
  line-height:24px;
}

.button-bottom{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
  margin-bottom:30px;
}

footer{
  height:66%;
}
  
	}


	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*header style*/
  header {
 position: absolute;
  }

	.search{
			display:none;
	}

  #popup{
width:100%;
height:100%;
position:fixed;
background:#f9f9f9;
z-index:99999;
top:0;
left:0;
padding-top:25px;
visibility:hidden;
}

#popup:target{
  visibility:visible;
}


.window{
  width:90%;
  display:block;
  margin:0 auto;
}

.close-button{
  
  float:right;
  
}

.window ul li a{
  color:#000;

}

.top-section{
  max-height:30%;
}
.logo-menu{
  margin:0 auto;
}
.logo-menu img{
  margin-top:68px;
  margin-left:40%;
}

.search-menu{
  width:178px;
  height:25px;
  background:transparent;
  border:1px solid rgba(18,18,18,0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding-right:4px;
  margin-top:26px;
  margin-left:35%;
}

.search-menu input[type="submit"]{
  float:right;
  background:url(../images/search-menu.png) no-repeat;
  height:25px;
  width:23px;
  border:0;
  text-indent:99999px;
}

.search-menu input[type="text"]{
  width:130px;
  height:24px;
  margin:0 0 0 10px;
  background:transparent;
  border:0;
  font-family:'OpenSansLight';
  color:rgba(18,18,18,0.7);
  font-size:13px;
}

.window ul{
  list-style-type: none;
  padding:0;
  text-align:center;
}

.window ul li{
  padding:20px 0;
}

.window ul li a{
  color:#f88602;
  font-size:18px;
}

/* nav */
#menu-icon {

    display:inline-block;

  }

  nav{
    float:right;
  }

  nav ul, nav:active ul { 

    display: none;
    position: absolute;
    padding: 20px;
    background: #f9f9f9;
    right: -20px;
    top: -40px;
    width: 100%;
    border-radius: none;
    border:none;

  }

  nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav li a{
    color:#f88602;
    font-size:18px;
  }

  nav:hover ul {

    display: none;

  }

  .close-button{
    display:block;
    float:right;
  }

/* top section style */
.japan-logo img{
	margin:8% 5% 8% 0;
	width:133px;
	height:255px;
}

.container-section{
  width:658px;
}

.top-section .content-top{
margin-right:0;}

.top-section{
    height:30%;
  }

  .top-section .content-top h1{
    font-size:28px;
    margin:100px 0 0 0;
  }

  .top-section .content-top h2{
    font-size:14px;
  }

  .button-view{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
}

.button-right{
  margin-right:16px;
  margin-top:18px;
}
.button-left{
  margin-left:16px;
  margin-top:18px;
}


/* section style */
		  .left h2{
		  	font-size:20px;
		  	margin:23px 16px 19px 0;
		  }

		  .left p{
		  	font-size:12px;
		  	margin:0 16px 0 28px;
		  }

		  .right h2{
		  	font-size:20px;
		  	margin:23px 0 19px 16px;
        line-height:1.3;
		  }

		  .right p{
		  	font-size:12px;
		  	margin:0 28px 0 16px;
		  }

      .right h3{
        font-size:14px;margin:0 0 0 16px;
      }

.section{
  height:260px;
}
  .box-1{
  	height:260px;
    width:35%;
  }

  .box-2{
  	height:260px;
    width:65%;
  }

.box-1 img{
	display:none;
}

.view-fifth img {
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}
.view-fifth .mask {
   background-color: transparent;
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}

.section:hover .mask {
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover img {
   
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/*bottom style*/
.bottom{
  height:502px;
}
.bottom-container{
  width:662px;
}

.bottom h2{
  font-size:24px;
}

.bottom p{
  font-size:14px;
  line-height:24px;
}

.button-bottom{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
  margin-bottom:30px;
}

footer{
  height:66%;
}
  

	}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Header Styles */
body{background:rgba(18,18,18,1);}
.search{
  display:none;
}

#progressbar{
    margin:0 13%;
  }

  #preloader img{
    margin:10% 10% 20px 30%;
  }

#popup{
width:100%;
height:100%;
position:fixed;
background:#f9f9f9;
z-index:99999;
top:0;
left:0;
padding-top:25px;
visibility:hidden;
}

#popup:target{
  visibility:visible;
  overflow-y:auto;
}


.window{
  width:90%;
  display:block;
  margin:0 auto;
  overflow:hidden;
}

.close-button{
  
  float:right;
  
}

.window ul li a{
  color:#000;

}
.logo-menu{
  margin:0 auto;
}
.logo-menu img{
  margin-top:68px;
  margin-left:30%;
}

.search-menu{
  width:178px;
  height:25px;
  background:transparent;
  border:1px solid rgba(18,18,18,0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding-right:4px;
  margin-top:26px;
  margin-left:20%;
}

.search-menu input[type="submit"]{
  float:right;
  background:url(../images/search-menu.png) no-repeat;
  height:24px;
  width:20px;
  border:0;
  text-indent:99999px;
  padding:0;
}

.search-menu input[type="text"]{
  width:125px;
  height:24px;
  margin:0 0 0 10px;
  background:transparent;
  border:0;
  font-family:'OpenSansLight';
  color:rgba(18,18,18,0.7);
  font-size:13px;
}

.window ul{
  list-style-type: none;
  padding:0;
  text-align:center;
}

.window ul li{
  padding:20px 0;
}

.window ul li a{
  color:#f88602;
  font-size:18px;
}
/* nav */
#menu-icon {

    display:inline-block;

  }

  nav{
    float:right;
  }

  nav ul, nav:active ul { 

    display: none;
    position: absolute;
    padding: 20px;
    background: #f9f9f9;
    right: -20px;
    top: -40px;
    width: 100%;
    border-radius: none;
    border:none;

  }

  nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav li a{
    color:#f88602;
    font-size:18px;
  }

  nav:hover ul {

    display: none;

  }

  .close-button{
    display:block;
    float:right;
  }

/* Top Section Style */
.container-section{
  width:90%;
}

.japan-logo{
	display:none;
}
.top-section{
  height:600px;
}

.overlay{
  height:600px;
}

.top-section .content-top h1{
  font-size:24px; 
  margin:100px 0 0 0;
}

.top-section .content-top h2{
  font-size:14px; 
  margin:15px 0 0 0; 
}

.button-view{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
}

/* section style */
.box-1 img{
  display:none;
}

.view-fifth img {
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}
.view-fifth .mask {
   background-color: transparent;
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}

.section:hover .mask {
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover img {
   
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}

.section{
  height:560px;
}
.box-1{
  float:left;
  top:100;
  width:100%;
  height:280px;
}

.left{
  float:none;
}

.right{
  float:none;
}

.mask{
  width:85%;
  margin:0 auto;
}

.left h2{
  text-align:center;
  margin:26px 0 11px 0;
}

.left p{
  text-align:center;
  margin:0;
}

.right h2{
  text-align:center;
  margin:20px 0 11px 0;
}

.right p{
  text-align:center;
  margin:0;
}

.box-2{
  float:left;
  height:280px;
  width:100%;
}

.center{
  float:left;
  margin:20px 35% 0 38%;
}

.child-section{

}

.right h3{
  margin:0;
  text-align:center;
}

/* bottom style */
.bottom-container{
  width:90%;
  padding-top:30px;
}

.bottom{
  padding-top:0px;
}

.bottom h2{
  font-size:24px;
}

.bottom p{
  font-size:14px;
  line-height:20px;
}

.button-bottom{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
  margin-bottom:30px;
}

footer{
  height:67%;
}
.bottom-nav{
  line-height:26px;
  height:120px;
  width:56%;
  margin:0 auto;
  text-align:left;
}

footer img{
  margin-bottom:10px;
}

.bottom-nav li{display:list-item;
}

.bottom-nav li span{display:none;}

.bottom-left{
  float:left;
}

.bottom-right{
  float:right;
}
}

@media only screen and (min-width : 568px) and (max-width : 569px){
    /* CSS here */
body{background:rgba(18,18,18,1);}

.search{
  display:none;
}

#popup{
width:100%;
height:100%;
position:fixed;
background:#f9f9f9;
z-index:99999;
top:0;
left:0;
padding-top:25px;
visibility:hidden;
}

#popup:target{
  visibility:visible;
  overflow-y:auto;
}


.window{
  width:90%;
  display:block;
  margin:0 auto;
  overflow:hidden;
}

.close-button{
  
  float:right;
  
}

.window ul li a{
  color:#000;

}
.logo-menu{
  margin:0 auto;
}
.logo-menu img{
  margin-top:68px;
  margin-left:36%;
}

.search-menu{
  width:178px;
  height:25px;
  background:transparent;
  border:1px solid rgba(18,18,18,0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding-right:4px;
  margin-top:26px;
  margin-left:30%;
}

.search-menu input[type="submit"]{
  float:right;
  background:url(../images/search-menu.png) no-repeat;
  height:24px;
  width:20px;
  border:0;
  text-indent:99999px;
  padding:0;
}

.search-menu input[type="text"]{
  width:125px;
  height:24px;
  margin:0 0 0 10px;
  background:transparent;
  border:0;
  font-family:'OpenSansLight';
  color:rgba(18,18,18,0.7);
  font-size:13px;
}

.window ul{
  list-style-type: none;
  padding:0;
  text-align:center;
}

.window ul li{
  padding:20px 0;
}

.window ul li a{
  color:#f88602;
  font-size:18px;
}
/* nav */
#menu-icon {

    display:inline-block;

  }

  nav{
    float:right;
  }

  nav ul, nav:active ul { 

    display: none;
    position: absolute;
    padding: 20px;
    background: #f9f9f9;
    right: -20px;
    top: -40px;
    width: 100%;
    border-radius: none;
    border:none;

  }

  nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav li a{
    color:#f88602;
    font-size:18px;
  }

  nav:hover ul {

    display: none;

  }

  .close-button{
    display:block;
    float:right;
  }

/* Top Section Style */
.container-section{
  width:90%;
}

.japan-logo{
  display:none;
}
.top-section{
  height:368px;
}
.overlay{
  height:368px;
}
.top-section .content-top h1{
  font-size:24px; 
  margin:100px 0 0 0;
}

.top-section .content-top h2{
  font-size:14px; 
  margin:15px 0 0 0; 
}

.button-view{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
}

/* section style */
.box-1 img{
  display:none;
}

.view-fifth img {
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}
.view-fifth .mask {
   background-color: transparent;
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition:none;
   -moz-transition: none;
   -o-transition: none;
   -ms-transition: none;
   transition: none;
}

.section:hover .mask {
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}
.section:hover img {
   
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}

.section{
  height:560px;
}
.box-1{
  float:left;
  top:100;
  width:100%;
  height:280px;
}

.left{
  float:none;
}

.right{
  float:none;
}

.mask{
  width:85%;
  margin:0 auto;
}

.left h2{
  text-align:center;
  margin:26px 0 11px 0;
}

.left p{
  text-align:center;
  margin:0;
}

.right h2{
  text-align:center;
  margin:20px 0 11px 0;
}

.right p{
  text-align:center;
  margin:0;
}

.box-2{
  float:left;
  height:280px;
  width:100%;
}

.center{
  float:left;
  margin:20px 35% 0 40%;
}

.child-section{

}

.right h3{
  margin:0;
  text-align:center;
}

/* bottom style */
.bottom-container{
  width:90%;
}

.bottom{
  padding-top:40px;
  height:630px;
}

.bottom h2{
  font-size:24px;
}

.bottom p{
  font-size:14px;
  line-height:20px;
}

.button-bottom{
  height:21px;
  width:95px;
  font-size:8px;
  padding-top:9px;
  margin-bottom:30px;
}

footer{
  height:72%;
}
.bottom-nav{
  line-height:26px;
  height:120px;
  width:56%;
  margin:0 auto;
  text-align:left;
}

.bottom-nav li{display:list-item;
}

.bottom-nav li span{display:none;}

.bottom-left{
  float:left;
}

.bottom-right{
  float:right;
}
}

@media only screen and (min-width : 768px) and (max-width : 769px) {
.section{
  height:260px;
}
}

@media only screen and (min-width : 1024px) and (max-width : 1025px) {
.section{
  height:260px;
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/