body{
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow: auto;
  background:#f9f9f9;
}

* {
  @include box-sizing(border-box); 
}

a{
  text-decoration: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#f8f8f8; /* change if the mask should have another color then white */
  z-index:200; /* makes sure it stays on top */
}

#preloader img{
  margin:10% 45% 20px 45%;
}

#progressbar {
    width: 300px;
    height: 15px;
    background-color: #000;
    padding: 2px;
    margin: 0 40%;
    border: 1px solid #000;
    clear: both;

}

#progress {
    background: #444; /*-- Color of the bar --*/
    height: 15px;
    width: 0%;
    max-width: 800px;
    float: left;
    -webkit-animation: progress 9s 2 forwards;
    -moz-animation: progress 9s 2 forwards;
    -ms-animation: progress 9s 2 forwards;
    animation: progress 9s 2 forwards;
}

#pbaranim {
    height: 15px;
    max-width: 100%;
    overflow: hidden;
    background: #444 repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress { 
    from { }

    to { width: 100% }
}

@-moz-keyframes progress { 
    from {}

    to { width: 100% }
}

@-ms-keyframes progress { 
    from {}

    to { width: 100% }
}

@keyframes progress { 
    from {}

    to { width: 100% }
}
/* --------------
  HEADER STYLE
----------------- */
header{
  padding:20px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index:100;
  width:100%;
}

a:hover#menu-icon {
  background-color: transparent;
}

.popup{
  display:none;
}

.window{
  display:none;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  float: left;
  padding: 10px 20px;
}

li a{
  color:#fff;
  text-decoration: none;
}

nav {
  float: left;
  font-family:'AsapRegular'; 
  margin-left:15%;
}

input:focus{
outline:none;
}

section {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.logo{
}

.logo img{
  display:inline;
  float:left;
}



#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background:url(../images/hamburger.png) no-repeat 50% 30%;
  margin-top:15px;
}

nav li a{
  padding-bottom:3px;
}

nav li a:hover{
  padding-bottom:3px;
  border-bottom:3px solid #fff;
}


#content {
    display: none;
    }

#loading {             
    
    
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;

    background: #414141;
    cursor: wait;                
    }

.current {
  border-bottom:3px solid #fff;
}

.close-button{
  display:none;
}

.search{
  width:178px;
  height:25px;
  background:transparent;
  border:1px solid rgba(255,255,255,0.7);
  float:right;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding-right:4px;
  margin-top:21px;
  padding-top:1px;
}

.search input[type="submit"]{
  float:right;
  background:url(../images/search.png) no-repeat;
  height:25px;
  width:23px;
  border:0;
  text-indent:99999px;
}

.search input[type="text"]{
  width:130px;
  height:24px;
  margin:0 0 0 10px;
  background:transparent;
  border:0;
  font-family:'OpenSansLight';
  color:#fff;
  font-size:13px;
}

.clear{
  clear:both;
}
/* --------------
  TOP SECTION STYLE
----------------- */
.container-section{
  width:960px;
  margin:0 auto;
  padding-top:95px;
  height:590px;
}
.top-section{
  background:url(../images/header-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height:680px;
  width:100%;
  font-family: 'OpenSansLight';
}

.overlay{
  background-color:rgba(18, 18,18, 0.6);
  height:inherit;
}

.overlay-bottom{
  background-color:rgba(18, 18,18, 0.6);
}

.top-section .content-top{
  text-align:right;
  float:right;
  color:#fff;
}

.top-section .content-top h1{
  font-size:48px;
  font-weight:500;
  margin:130px 0 0 0;
  line-height:1.2;
  letter-spacing:1px;
}

.top-section .content-top h2{
  font-size:24px;
  font-weight:500;
  margin:15px 0 0 0;
  line-height:1.2;
  letter-spacing:1px;
}

.japan-logo{
  height:339px;
  width:174px;
  display:inline;
}
.japan-logo img{
  margin:78px 0;
}

.button-view{
  height:32px;
  width:151px;
  border:1px solid #fff;
  font-size:14px;
  padding-top:13px;
  text-align:center;
  float:right;
  margin-top:22px;
  text-decoration:none;
  color:#fff;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.button-view:hover{
  background:rgba(255,255,255,0.9) repeat scroll;
  border:1px solid rgba(255,255,255,0.9);
  cursor:pointer;
  color:#444;
}

.bottom{
  background:url(../images/bottom.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:590px;
  width:100%;
  font-family: 'OpenSansLight';
  color:#fff;
}
.bottom-container{
  text-align:center;
  margin:0 auto;
  width:717px;
  padding-top:85px;
}
.bottom h2{
  margin:0;
  font-size:36px;
  font-weight:300;
}
.bottom p{
  font-size:18px;
}

.button-bottom{
  height:33px;
  width:151px;
  border:1px solid #fff;
  font-size:14px;
  padding-top:10px;
  text-align:center;
  margin:0 auto;
  left:50%;
  margin-bottom:27px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.button-bottom:hover{
  background:rgba(255,255,255,0.9);
  border:1px solid rgba(255,255,255,0.9);
  cursor:pointer;
  color:#414141;
}


footer{
  background:rgba(18,18,18,0.8);
  text-align:center;
  font-family:'OpenSansLight';
  font-size:14px;
  color:rgba(255,255,255,0.6);
  height:53%;
}

.bottom-nav{
  padding-top:34px;
}

.bottom-nav ul{
  list-style-type: none;
  padding:0;
  margin:0;
}

.bottom-nav li{
  display:inline;
}

.bottom-nav li a{
  color:rgba(255,255,255,0.5);
  font-size:14px;
}

.bottom-nav li a:hover{
  color:rgba(255,255,255,1);
}

.bottom-right{display:inline;}
.bottom-left{display:inline;}

.social{margin-top:32px; margin-bottom:24px;}
.social ul{
  list-style-type: none;
  padding:0;
  margin:0;
}
.social li{
  display:inline;
}

.social li a{
  color:rgba(255,255,255,0.5);
  font-size:34px;
  padding:0 10px;
}

.social li a:hover{
  color:rgba(255,255,255,1);
}
.social p{
  margin:0;
}
.social p a{
  color:rgba(255,255,255,0.6);
  font-size:14px;
  text-decoration:none;
  cursor:pointer;
}

.social p a:hover{
  color:rgba(255,255,255,1);
  text-decoration:underline;
}

footer img{
  margin-top:24px;
  margin-bottom:28px;
}


/* --------------
  SECTION STYLE
----------------- */
.section{
  max-width:100%;
  height:368px;
}
.box-1{
  height:368px;
  width:30%;
  background:#294774;
  position:relative;
  overflow:hidden;
}

.box-1 img{
  width:90px;
  height:174px;
  margin:22% 40% 22% 35%;
}

.left{
  float:left;
  text-align:right;
}

.box-2{
  height:368px;
  width:70%;
  background:url(../images/img-3.jpg) no-repeat 50% 50%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.right{
  float:right;
  text-align:left;
}

.mask{
  background:transparent;
  color:#fff;
}

.left h2{
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  margin:60px 36px 19px 0;
  font-family: 'OpenSansRegular';
}
.left p{
  font-size: 14px;
  font-weight: 300;
  margin:0 36px 0 98px;
  font-family: 'OpenSansLight';
  line-height:21px;
}

.right h2{
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  margin:60px 0px 19px 36px;
  font-family: 'OpenSansRegular';
}

.right p{
  font-size: 14px;
  font-weight: 300;
  margin:0 98px 0 36px;
  font-family: 'OpenSansLight';
  line-height:21px;
}

.right h3{
  font-size: 18px;
  font-weight: 300;
  margin:0 70px 5px 34px;
  font-family: 'OpenSansLight';
  font-style: italic;
}


.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
   background-color: transparent;
   -webkit-transform: translateY(1200px);
   -moz-transform: translateY(1200px);
   -o-transform: translateY(1200px);
   -ms-transform: translateY(1200px);
   transform: translateY(1200px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.section:hover .mask {
   -webkit-transform: translateY(-365px);
   -moz-transform: translateY(-365px);
   -o-transform: translateY(-365px);
   -ms-transform: translateY(-365px);
   transform: translateY(-365px);
}
.section:hover img {
   -webkit-transform: translateY(-1000px);
   -moz-transform: translateY(-1000px);
   -o-transform: translateY(-1000px);
   -ms-transform: translateY(-1000px);
   transform: translateY(-1000px);
}
.section:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.button-left{
  margin-left:34px; 
  float:left
}

.button-right{
  margin-right:34px;
}

.child-section{margin-bottom:5px; margin-top:40px}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

  header {
 position: absolute;

  }

  #menu-icon {

    display:inline-block;

  }

  nav ul, nav:active ul { 

    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;

  }

  nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

  }

  nav:hover ul {

    display: block;

  }
}

/*----------------------------------------
------------------------------------------
STYLE FOR STORY PAGE
------------------------------------------
----------------------------------------*/
.clear{
  clear:both;
}
.top-story{
  background:url(../images/top.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:590px;
  width:100%;
  font-family: 'OpenSansLight';
   background-color:rgba(18, 18,18, 0.6);
}

.top-story .content-top{
  display::inline-block;
  float:right;
  text-align:center;
  margin-top:110px;
}

.top-story .content-top .hr{
  width: 1px;
  background-color: rgba(255,255,255,0.6);
  height: 84px;
  margin:0 auto;
}

.top-story .content-top h1{
  margin:0;
  color:#fff;
  font-size:36px;
  font-family: 'OpenSansLight';
  font-weight:100;
}

.top-story .content-top h2{
  margin:0;
  color:#fff;
  font-size:22px;
  font-weight:100;
  padding-bottom:8px;
}

.content-story{
  height:810px;
  background:#f9f9f9;
  padding:38px 80px;
}

.content-story h1{
  font-family:'OpenSansRegular';
  font-size:36px;
  font-weight: 100;
  color:#684c2c;
  margin:0;
}

.content-story h2{
  color:#444444;
  margin:0;
  font-size:26px;
  font-weight:100;
}

.hr-2{
  background-color:#684c2c;
  width:113px;
  height:3px;
  margin-top:17px;
}

.article-left{
  float:left;
  width:53%;
  color:#444;
  font-family:'OpenSansLight';
  font-size:14px;
  text-align:justify;
  line-height: 20pt;
  margin:33px 0 0;
}

.image-story{
  float:right;
  width:40%;
  margin-top:33px;
}

.article-bottom{
  float:left;
  color:#444;
  font-family:'OpenSansLight';
  font-size:14px;
  text-align:justify;
  line-height: 20pt;
  margin:0;
}

.article-bottom span a{
  color:#684c2c;
  text-decoration:none;
}

.article-bottom span a:hover{
  text-decoration:underline;
}

.mid-story{
  background:url(../images/story-img.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:408px;
  width:100%;
  font-family: 'OpenSansLight';
  margin-top:100px;
}

.mid-story .content-top{
  display::inline-block;
  float:right;
  text-align:center;
  margin-top:110px;
  margin-right:166px;
}

.mid-story .content-top .hr{
  width: 1px;
  background-color: rgba(255,255,255,0.6);
  height: 84px;
  margin:0 auto;
}

.mid-story .content-top h1{
  margin:0;
  color:#fff;
  font-size:36px;
  font-family: 'OpenSansLight';
  font-weight:100;
}

.mid-story .content-top h2{
  margin:0;
  color:#fff;
  font-size:22px;
  font-weight:100;
  padding-bottom:8px;
}

.image-story-left{
  float:left;
  width:40%;
  margin-top:33px;
}

.article-right{
  float:right;
  width:52%;
  margin:33px 0 0;
  color:#444;
  font-family:'OpenSansLight';
  font-size:14px;
  text-align:justify;
  line-height: 20pt;
}

.bottom-story .content-top{
  display::inline-block;
  float:right;
  text-align:center;
  margin:85px 166px 80px 0;
}

.bottom-story .content-top .hr{
  width: 1px;
  background-color: rgba(255,255,255,0.6);
  height: 84px;
  margin:0 auto;
}

.bottom-story .content-top h1{
  margin:0;
  color:#fff;
  font-size:36px;
  font-family: 'OpenSansLight';
  font-weight:100;
}

.bottom-story .content-top h2{
  margin:0;
  color:#fff;
  font-size:22px;
  font-weight:100;
}

.bottom-story{
  background:url(../images/story-img-2.png) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:717px;
  width:100%;
  font-family: 'OpenSansLight';
  color:#fff;
}

.content-menu{
  height:100%;
  min-height:100%;
  position:relative;
  background:#f9f9f9;
  padding:38px 80px;
  text-align:center;
}

.content-menu-bottom{
  height:1400px;
}

.content-container{
  width:1030px;
  margin:0 auto;
}

.content-menu h1{
  font-family:'OpenSansRegular';
  font-size:36px;
  font-weight: 100;
  color:#684c2c;
  margin:0;
}

.content-menu h2{
  color:#444444;
  margin:0;
  font-size:26px;
  font-weight:100;
}

.article-menu{
  color:#444;
  font-family:'OpenSansLight';
  font-size:14px;
  line-height: 20pt;
  width:711px;
  margin:0 auto;
  padding-top:32px;
}

ul.menu-coloumn{
  text-align:center;
  margin:0 auto;
  padding-top:55px;
  height:auto;
  display:inline;
  border-bottom:1px solid #684c2c;
  float:left;
  position:relative;
}

ul.menu-coloumn h1{
  font-family:'OpenSansRegular';
  font-size:24px;
  color:#684c2c;
  margin-bottom:32px;
}

li.coloumn{
  width:30%;
  text-align:center;
  display:inline;
  margin-right:35px;
  float:left;
  height:220px;
  display:inline;
  margin-bottom:30px;
}

li.coloumn:last-child{
  margin-right:0;
}

li.coloumn h2{
  font-family:'OpenSansRegular';
  font-size:20px;
  color:#684c2c;
  font-weight:100;
  line-height:20pt;
}

li.coloumn p{
  font-family:'OpenSansLightItalic';
  font-size:14px;
  font-weight:100;
  color:#454545;
  line-height:20pt;
  margin:10px 0 0 0;
}
li.coloumn span{
  font-family:'OpenSansItalic';
  font-size:14px;
  color:#454545;
  line-height:20pt;
}
.content-menu .content-container .hr{
  width:1030px;
  height:1px;
  background-color: #684c2c;
}

.button-download{
  width:192px;
  border:1px solid #684c2c;
  font-size:14px;
  padding:20px;
  text-align:center;
  margin:0 auto;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  color:#684c2c;
  text-decoration: none;
}

.button-download:hover{
  background:rgba(104,76,44,0.9);
  border:1px solid rgba(255,255,255,0.9);
  cursor:pointer;
  color:#fff;
}

.content-container .price{
  font-family:'OpenSansItalic';
  font-size:14px;
  color:#454545;
  padding-bottom:30px;
}

.justify{
  text-align: justify;
  width:899px;
}

.margin{
  height:43px;
}

.content-menu-2{
  height:1500px
}

.bottom-menu{
  background:url(../images/img-menu-3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
  font-family: 'OpenSansLight';
  color:#fff;
  text-align:center;
  position:relative;
}

.bottom-menu h2{
  margin:0;
  font-size:36px;
  font-weight:100;
}
.bottom-menu p{
  font-size:18px;
  font-weight:100;
}

.bottom-content{
  margin-bottom:6.5%;
}

.content-menu img{
  margin-top:60px;
}

/* --------------------------------------
-----------------------------------------
GALLERY STYLE
-----------------------------------------
---------------------------------------*/
/* General style */
.grid-gallery{
  background:#f9f9f9;
}
.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-gallery figure {
  margin: 0;
}

.grid-gallery figure img {
  display: block;
  width: 100%;
}

.grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
  margin: 0;
}

/* Grid style */
.grid-wrap {
  max-width: 1030px;
  margin: 0 auto;
  padding:180px 0 0 0 ;
}

.grid {
  margin: 0 auto;
}

.grid li {
  width: 25%;
  float: left;
  cursor: pointer;
}

.grid figure {
  padding: 15px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.grid li:hover figure {
  opacity: 0.7;
}

.grid figcaption {
  background: #e4e4e4;
  padding: 25px;
}

/*--------------------------------
----------------------------------
LOCATION STYLE
----------------------------------
--------------------------------*/
.height-loc{
  height:900px;
}

.location{
  height:544px;
}
ul.content-location{
  display:inline;
  list-style-type: none;
  position:relative;
  margin:0;
  padding:0;
}
li.coloumn-img{
  background:url(../images/img-loc-2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:33%;
  display:inline;
  height:272px;
  float:left;
  cursor:pointer;
}


li.coloumn-img:hover{
  opacity:0.9;
}

li.coloumn-img span{
  font-family: 'OpenSansLight';
  font-size:26px;
  color:#f9f9f9;
    top:50%;
  left:35%;
  position:relative;
}

.loc-name{
  font-family: 'OpenSansLight';
  font-size:72px;
  color:#f9f9f9;
  font-weight:100;
  position:relative;
  top:30%;
  left:30%;
}

.content-detail{
  padding-top:63px;
  max-height:100%;
  position:relative;
}

.detail-left{
  width:60%;
  float:left;
  border-right:1px solid rgba(69,69,69,0.3);
  height:300px;
}

.detail-left p{
  font-family:'OpenSansLight';
  font-size:14px;
  color:#454545;
  line-height:20pt;
  margin:0 20px 0 0;
  font-weight: 100;

}

.detail-right{
  float:right;
  width:35%;
  font-family:'OpenSansRegular';
  font-size:14px;
  color:#454545;
  line-height:20pt;
}

.detail-right tr{
  
  padding:0;
  margin:0;
}

.detail-right td{

}

.detail-right span{
  color:#f88602;
  margin-right:10px;
}

.image-loc img{
  width:100%;
  margin:0 auto;
}

.image-loc{
  width:100%;
  margin:0 auto;
  text-align:center;
  margin-top:71px;
}

.back-loc{
  font-family: 'OpenSansRegular';
  font-size:24px;
  text-align: center;
  margin:70px 0;
}

.back-loc a{
  color:rgba(69,69,69,0.4);
}

.back-loc span{
  font-weight:bold;
  font-size:36px;
  vertical-align: sub;
}


/*-------------------------------------
---------------------------------------
MEMBERSHIP
---------------------------------------
-------------------------------------*/
.content-membership, .content-event{
  background:#f9f9f9;
  text-align:center;
  padding-top:156px;
  height:750px;
}

.content-membership h1{
  font-family:'OpenSansRegular';
  font-size:36px;
  font-weight: 100;
  color:#684c2c;
  margin:0;
  text-align:left;
}

.content-membership h2{
  color:#444444;
  margin:0;
  font-size:26px;
  font-weight:100;
  text-align:left;
}

p.article-left a{
  color:#684c2c;
}

p.article-left a:hover{
  text-decoration:underline;
}

.height-member{
  height:56px;
}

/*-------------------------------------
---------------------------------------
EVENTS
---------------------------------------
-------------------------------------*/
.content-event{
  background:#f9f9f9;
  text-align:center;
  padding-top:156px;
  height:inherit;
  padding-bottom:50px;
}

.content-event h1{
  font-family:'OpenSansRegular';
  font-size:36px;
  font-weight: 100;
  color:#684c2c;
  margin:0;
}

.content-event h2{
  color:#444444;
  margin:0;
  font-size:26px;
  font-weight:100;
}

ul.tabs
{
    padding: 11px 0;
    font-size: 0;
    margin:38px 50px 60px;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
}
        
ul.tabs li a
{
    font-size:14px;
    text-decoration: none;
    position: relative;
    padding: 10px 30px;
    border: 1px solid rgba(104,76,44,0.5);
    color: #f9f9f9;
    background: #684c2c;
    outline:none;
    font-family:'OpenSansRegular';
    font-weight:100;
}
        
        
ul.tabs li a:hover
{
    background: transparent;
    color:#684c2c;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    background: transparent;
    border: 1px solid rgba(104,76,44,0.5);
    color:#684c2c;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    margin:0 auto;
}

.tabcontents #view1 #form-1 h2, label{
  font-size:14px;
  color:rgba(51,51,51,0.5);
  font-weight:normal;
  float:left;
  margin:0;
}
.tabs li{
  display:inline;
}

a.box-event{
  cursor: pointer;
}

.myList .box-event ul{
  margin:0;
  padding:0;
  height:273px;
  border:1px solid rgba(104,76,44,0.5);
  width:1073px;
  margin-bottom:10px;
}

.myList .box-event ul li{
  display:inline;
  margin:0;
  padding:0;
}

.myList .box-event li img{
  float:left;
}

.myList .box-event li h1{
  font-family:'OpenSansRegular';
  font-size:36px;
  color: #684c2c;
  text-align:left;
  font-weight: 100;
}

.myList .box-event li h2{
  font-family: 'OpenSansLight';
  font-size:24px;
  color:#684c2c;
  text-align:left;
  font-weight: 100;
}

.myList .box-event li span{
  font-family: 'OpenSansLightItalic';
}

.myList .box-event p{
  font-family: 'OpenSansLight';
  font-size:14px;
  font-weight: 100;
  color:#454545;
  text-align:left;
}

.myList li{
  display:none;
  list-style-type: none;
}

.loadMore {
  cursor:pointer;
}

