@font-face {
    font-family: 'AsapRegular';
    src: url('asap-regular.eot');
    src: url('asap-regular.eot') format('embedded-opentype'),
         url('asap-regular.woff') format('woff'),
         url('asap-regular.ttf') format('truetype'),
         url('asap-regular.svg#AsapRegular') format('svg');
}
