@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-untitled, .icon-note, .icon-untitled-2, .icon-untitled-3, .icon-untitled-4, .icon-untitled-5, .icon-mail, .icon-phone, .icon-place, .icon-time {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-untitled:before {
	content: "\e003";
}
.icon-note:before {
	content: "\e009";
}
.icon-untitled-2:before {
	content: "\e002";
}
.icon-untitled-3:before {
	content: "\e001";
}
.icon-untitled-4:before {
	content: "\e000";
}
.icon-untitled-5:before {
	content: "\e004";
}
.icon-mail:before {
	content: "\e007";
}
.icon-phone:before {
	content: "\e006";
}
.icon-place:before {
	content: "\e005";
}
.icon-time:before {
	content: "\e008";
}
